* {
    margin:0;
    padding:0;
    font-family:'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
  width:100%;
  height:100%;
}

html, body {
    background: linear-gradient(#badbe4, #aaf7e1);
}

#world {
	position: absolute;
	width: 90%;
	height: 100%;
	right:0;
	overflow: hidden;
}

.panel {
    position:fixed;
    top:0;
    left:0;
    padding:2em 3em;
    width:15em;
}

h1 {
    font-family: 'Playfair Display', serif;
    float:left;
    z-index:100;
    position:relative;
}

h1 * {
    float:left;
}

h1 .title {
    font-family:inherit;
    font-weight:700;
    font-size:3em;
}

h1 .the {
    font-family:"Playfair Display script=all rev=1";
    font-style:italic;
    font-weight:700;
    font-size:0.85em;
    position:absolute;
    top:0.6em;
    left:3em;
    width:auto;
}

h1 .byline {
    text-transform:uppercase;
    color:#333;
    letter-spacing:0.5em;
    font-size:0.35em;
    font-weight:600;
    width:100%;
    padding-left:1em;
}

.entries {
    margin-top:3em;
    width:100%;
    float:left;
}
.entry {
    float:left;
    width:50%;
    margin-left:-1px;
    text-align:center;
}
.entry p {
    width:100%;
    text-align:center;
    font-family:'Playfair Display';
    font-size:2em;
}
.entry label {
    text-align:center;
    text-transform:uppercase;
    letter-spacing:0.25em;
    font-size:0.8em;
    width:100%;
    float:left;
}
.entry + .entry {
    border-left:1px solid rgba(0,0,0,0.3);
}

.status {
    width:70%;
    display:inline-block;
    float:none;
    height:0.6em;
    background-color:rgba(0,0,0,0.5);
    border-radius:0.6em;
    margin:1.25em 0;
}

.fill {
    background-color:#f90;
    height:0.4em;
    width:95%;
    margin-top:0.1em;
    display:inline-block;
    float:none;
    background-color:#be1e2d;
    border-radius:0.6em;
}

.instructions {
    margin-top:3em;
    float:left;
    font-family:'Playfair Display';
    text-align:center;
    line-height:150%;
}